<div class="about-container">
  <h1 class="about-title">À propos de moi</h1>

  <div class="about-content">
    <div class="about-image">
      <img src="https://res.cloudinary.com/dockomgr8/image/upload/v1760720686/Hugues_ou8qrn.png" alt="Photo de moi">
    </div>

    <div class="about-text">
      <p>
        Bonjour ! Je m'appelle Hugues, je suis un père de quatres garçons et j'aime faire de la peintures.
      </p>

      <p>
        J'ai demander à mon fils préféré de me faire un petit site afin de partager mes œuvres et mes projets avec le monde. Voici le résultat !
      </p>
    </div>
  </div>
</div>
